{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/leaflet/easy-button.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'vendor/leaflet/fullscreen/Control.FullScreen.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/leaflet/Contextual/contextual.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/leaflet/Contextual/contextual.theme.css' %}"
/>
<!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap4.min.css">
{% endblock %} {% block title %} DONNEES-COLLEGE {% endblock %} {% block filtre %}
<span class="ml-5 text-gray-700" style="font-weight: bold"
  >STATISTIQUES / DONNEES / COLLEGE
</span>
{% endblock %} {% block container_fluid %}

<div class="row mb-2 card-footer">
    <div class="col-lg-12">
      <form class="form-inline" style="width:100%; margin:0 auto;" >
        <div class="form-group mb-2 mr-2">
          <label for="annee" class="mr-2">ANNEE:</label>
          <select class="form-control" disabled id="annee">
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025" selected>2025</option>
          </select>
        </div>

        <div class="form-group mb-2 mr-2" >
          <label for="dren" class="mr-2">DREN:</label>
          <select class="form-control" id="dren">
            <option value="0">Toutes DREN</option>
            {% for d in dren %}
            <option value="{{ d.CODE_DREN }}">{{ d.DREN }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="form-group mb-2 mr-2">
          <label for="cisco" class="mr-2">CISCO:</label>
          <select class="form-control" id="cisco">
            <option value="0">Sélectionner une CISCO</option>
          </select>
        </div>
        
        <div class="form-group mb-2 mr-2">
          <label for="commune" class="mr-2">Commune:</label>
          <select class="form-control" id="commune">
            <option value="0">Sélectionner une commune</option>
          </select>
        </div>
        
        <div class="form-group mb-2 mr-2">
          <label for="zap" class="mr-2">ZAP:</label>
          <select class="form-control" id="zap">
            <option value="0">Sélectionner une ZAP</option>
          </select>
        </div>
        
        <div class="form-group mb-2 mr-2">
          <label for="secteur" class="mr-2">Secteur:</label>
          <select class="form-control" id="secteur">
            <option value="0">Public</option>
            <option value="1">Privé</option>
          </select>
        </div>
        
        <button type="submit" id="btn-filter" onclick="return false" class="btn btn-primary mb-2">&nbsp;Filtrer</button>
      </form>
    </div>
  </div>

<div class="row" id="div-data">
  <div class="col-lg-12">

    <!-- Tabs Navigation -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ecoles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="effectif-tab" data-toggle="tab" href="#effectif" role="tab" aria-controls="effectif" aria-selected="false">Elèves</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="personnel-tab" data-toggle="tab" href="#personnel" role="tab" aria-controls="personnel" aria-selected="false">Personnels</a>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header text-dark text-center"><h3>Données sur les établissements collèges</h3></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <table id="datatable" class="table table-striped table-bordered table-hover table-condensed" style="width:100%">
                      <thead>
                          <tr>
                              <th width="70">CODE</th>
                              <th>DREN</th>
                              <th>CISCO</th>
                              <th>COMMUNE</th>
                              <th>ZAP</th>
                              <th>FOKONTANY</th>
                              <th width="80%">ECOLE</th>
                              <th width="30">ZONE</th>
                              <th width="30">PLACES</th>
                              <th width="20">SdC BE</th>
                              <th width="20">SdC ME</th>
                              <th width="20">EAU</th>
                              <th width="20">ELEC</th>
                          </tr>
                      </thead>
                      <tbody id="data-etab">

                          <!-- Ajoutez plus de lignes si nécessaire -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card-footer">&nbsp;</div>
            </div>
            
          </div>
        </div>        
        
      </div><!-- // home-tab-->
      <div class="tab-pane fade" id="effectif" role="tabpanel" aria-labelledby="effectif-tab">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header text-dark text-center"><h3>Répartition des effectifs d’élèves</h3></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <table id="datatable-effectif" class="table table-striped table-bordered table-hover" style="width:100%">
                      <thead>
                        <tr>
                            <th width="70">CODE</th>
                            <th>DREN</th>
                            <th>CISCO</th>
                            <th>COMMUNE</th>
                            <th>ZAP</th>
                            <th width="100%">ECOLE</th>
                            <th width="30">ZONE</th>
                            <th width="30">2022</th>
                            <th width="30">2023</th>
                            <th width="30">2024</th>
                            <th width="30">2025</th>
                            <th width="30">6<sup>&egrave;me</sup></th>
                            <th width="30">5<sup>&egrave;me</sup></th>
                            <th width="30">4<sup>&egrave;me</sup></th>
                            <th width="30">3<sup>&egrave;me</sup></th>
                          </tr>
                      </thead>
                      <tbody id="data-effectif">

                          <!-- Ajoutez plus de lignes si nécessaire -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card-footer">&nbsp;</div>
            </div>
            
          </div>
        </div>
      </div><!-- // effectif-tab -->
      <div class="tab-pane fade" id="personnel" role="tabpanel" aria-labelledby="personnel-tab">

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header text-dark text-center"><h3>Statistiques du personnel collège</h3></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <table id="datatable-personnel" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                          <tr>
                              <th width="70">CODE</th>
                              <th>DREN</th>
                              <th>CISCO</th>
                              <th>COMMUNE</th>
                              <th>ZAP</th>
                              <th width="100%">ECOLE</th>
                              <th width="30">ZONE</th>
                              <th width="30">TOTAL</th>
                              <th width="30">EN SALLE</th>
                              <th width="30">AVEC IM</th>
                              <th width="30">FRAM SUB</th>
                              <th width="30">FRAM NON SUB</th>
                              <th width="30">BEPC</th>
                              <th width="30">BACC</th>
                              <th width="30">QUALIFIEE</th>
                          </tr>
                      </thead>
                      <tbody id="data-presco">

                          <!-- Ajoutez plus de lignes si nécessaire -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card-footer">&nbsp;</div>
            </div>
            
          </div>
        </div>

      </div><!-- // Rpersonnel-tab-->
    </div>

  </div>
</div><!-- div-data-->



{% endblock %} 
{% block scripts %}
<script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
<script src="{% static 'vendor/leaflet/leaflet-bing-layer.min.js' %}"></script>
<script src="{% static 'vendor/leaflet/easy-button.js' %}"></script>
<script src="{% static 'vendor/leaflet/leaflet-easy-print.js' %}"></script>
<script src="{% static 'vendor/leaflet/fullscreen/Control.FullScreen.js' %}"></script>
<script src="{% static 'vendor/leaflet/Contextual/contextual.js' %}"></script>
<script src="{% static 'vendor/turf/turf.min.js' %}"></script>
<script src="{% static 'js/referentiel.js' %}"></script>
<script src="{% static 'js/donnee_college.js' %}"></script>
{% endblock %}
