# -----------------------
# DATABASE / DATA
# -----------------------
*.db
*.sqlite3
*.sql

# -----------------------
# DATA FILES
# -----------------------
*.xlsx
*.geojson
*.pdf

# shapes (si générés dynamiquement)
dpeapp/static/shape/

# -----------------------
# ENV
# -----------------------
.env
.env.local
.env.*.local

# -----------------------
# NODE
# -----------------------
node_modules/
dist/
build/
.vite/

# -----------------------
# PYTHON / DJANGO
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual env
venv/
env/
myenv/
.venv/

# -----------------------
# OS
# -----------------------
.DS_Store

# -----------------------
# IDE
# -----------------------
.vscode/
.idea/

# -----------------------
# LOGS
# -----------------------
*.log