{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="Login DPE">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
        <style>
            body {
                background:#36b9cc;
            }
            .btn-color{
                background-color: #0e1c36;
                color: #fff;
            
            }
            .profile-image-pic{
                height: 150px;
                width: 150px;
                object-fit: cover;
            }

            .cardbody-color{
            background-color: #ebf2fa;
            }
            a{
            text-decoration: none;
            }
        </style>
    </head>
    <body class="bg-gradient-primary">
        <div class="container">
            <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-2">Connexion</h2>
                <div class="text-center mb-1 text-dark">Veuillez vous connecter</div>
                <div class="card my-1">

                <form class="card-body cardbody-color p-lg-5"  method="post">
                    {% csrf_token %}
                    <div class="text-center">
                        <i class="fas fa-user-lock fa-3x"></i>
                        
                    <img src="{% static 'user_login.png' %}" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                        width="200px" alt="profile">
                        
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" name="username" placeholder="Nom d'utilisateur" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" placeholder="Mot de passe" required class="form-control" id="password">
                    </div>
                    {% if error %}
                    <div class="alert alert-danger text-center">
                        <p style="color: red;">{{ error }}</p>
                    </div>
                    {% endif %}
                    <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Se connecter</button></div>

                </form>
                </div>

            </div>
            </div>

        </div>
    </body>
</html>
