{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{% block title %}DPE-App{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/datatables/datatables.min.css' %}" rel="stylesheet" />
    <!-- waitme plugins -->
    <link href="{% static 'js/waitme/waitMe.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom-dpeapp.css' %}" rel="stylesheet" />
    <!-- select2 plugins -->
    <link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet" />
    <!-- noUiSlider plugins -->
    <link href="{% static 'vendor/noUiSlider/nouislider.min.css' %}" rel="stylesheet" />
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap4.min.css">

      <!-- lightbox -->

    <link rel="stylesheet" href="{% static 'vendor/lb/css/lc_lightbox.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/lb/skins/minimal.css' %}" />

    <!-- tom select -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css" rel="stylesheet">
    {% block style %}{% endblock %}
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->

      {% if "eager" not in request.path %}
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{% url 'index_dashboard' %}"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-cubes"></i>
          </div>
          <div class="sidebar-brand-text mx-3">DPE<sup>App</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a
            class="nav-link {% if '/' == request.path or 'dashboard' in request.path %}menu_item_active {% endif %}"
            href="{% url 'index_dashboard' %}"
            style="{% if '/' == request.path or 'dashboard' in request.path %}color:#000; {% endif %}"
          >
            <i
              class="fas fa-fw fa-tachometer-alt"
              style="{% if '/' == request.path or 'dashboard' in  request.path %}color:#000; {% endif %}"
            ></i>
            <span>Dashboard</span>
          </a>
        </li>

        <!--Tableau de Bord (DMS) -->
        <hr class="sidebar-divider mb-3" />
        <div class="sidebar-heading">Data Must Speak</div>

        <li class="nav-item">
          <a
            class="nav-link {% if 'tdb' in request.path %} menu_item_active {% endif %}"
            href="#"
            data-toggle="collapse"
            data-target="#collapseTdb"
            aria-expanded="true"
            aria-controls="collapseTwo"
            style="{% if 'tdb' in request.path %}color:#000;{% endif %}"
          >
            <i
              class="fa fa-bar-chart"
              style="{% if 'tdb' in request.path %}color:#000;{% endif %}"
            ></i>
            <span>Tableau de Bord</span>
          </a>
          <div
            id="collapseTdb"
            class="collapse {% if 'tdb' in request.path %}_show_{% endif %}"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner">
              <h6 class="collapse-header">DMS</h6>
              <a class="collapse-item" href="{% url 'index_tdb_zap' %}">TdB Ecoles</a>
            </div>
          </div>
        </li>

        <!-- Divider -->

        <!--  --------------------------------     MENU DONNEES ********************************************* -->

        <!-- Heading -->
        <div class="sidebar-heading"><i>Statistiques</i></div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link {% if 'donnees' in request.path %} menu_item_active {% endif %}"
            href="#"
            data-toggle="collapse"
            data-target="#collapseAnnuaire"
            aria-expanded="true"
            aria-controls="collapseTwo"
            style="{% if 'donnees' in request.path %}color:#000;{% endif %}"
          >
            <i
              class="fa fa-bar-chart"
              style="{% if 'donnees' in request.path %}color:#000;{% endif %}"
            ></i>
            <span>Donn&eacute;es</span>
          </a>
          <div
            id="collapseAnnuaire"
            class="collapse {% if 'donnees' in request.path %}_show_{% endif %}"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner">
              <h6 class="collapse-header">Données Etablissements:</h6>
              <a class="collapse-item" href="{% url 'index_donnees_presco' %}">Préscolaire</a>
              <a class="collapse-item" href="{% url 'index_donnees_primaire' %}">Primaire</a>
              <a class="collapse-item" href="{% url 'index_donnees_college' %}">Collège</a>
              <a class="collapse-item" href="{% url 'index_donnees_lycee' %}">Lycée</a>
            </div>
          </div>
        </li>

        <hr class="sidebar-divider" />



        <!--    ------------------------   MENU ORS ********************************************* -->
        <!-- Heading -->
        <div class="sidebar-heading"><i>Carte Scolaire</i></div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link {% if 'ors' in request.path %} menu_item_active {% endif %}"
            href="#"
            data-toggle="collapse"
            data-target="#collapseORS"
            aria-expanded="true"
            aria-controls="collapseTwo"
            style="{% if 'ors' in request.path %}color:#000;{% endif %}"
          >
            <i
              class="fa fa-book"
              style="{% if 'ors' in request.path %}color:#000;{% endif %}"
            ></i>
            <span>ORS</span>
          </a>
          <div
            id="collapseORS"
            class="collapse {% if 'ors' in request.path %}_show_{% endif %}"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner">
              <h6 class="collapse-header">Réseau Scolaire</h6>
              <a class="collapse-item" href="{% url 'index_ors_primaire' %}"
                >Primaire</a
              >
              <a class="collapse-item" href="{% url 'index_ors_college' %}"
                >Collège</a
              >
              <a class="collapse-item" href="{% url 'index_orslycee' %}"
                >Lycée</a
              >
            </div>
          </div>
        </li>

        <!--    ------------------------   MENU PAS ********************************************* -->
        <li class="nav-item">
          <a
            class="nav-link {% if 'pas' in request.path %} menu_item_active {% endif %}"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePAS"
            aria-expanded="true"
            aria-controls="collapsePAS"
            style="{% if 'pas' in request.path %}color:#000;{% endif %}"
          >
            <i
              class="fa fa-graduation-cap"
              style="{% if 'pas' in request.path %}color:#000;{% endif %}"
            ></i>
            <span>PAS</span>
          </a>
          <div
            id="collapsePAS"
            class="collapse {% if 'pas' in request.path %}_show_{% endif %}"
            aria-labelledby="headingPAS"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner">
              <h6 class="collapse-header">Préparation de l’Année Scolaire</h6>
              <a class="collapse-item" href="#">Primaire</a>
              <a class="collapse-item" href="#">Collège</a>
              <a class="collapse-item" href="#">Lycée</a>
            </div>
          </div>
        </li>

        <!--    ------------------------   MENU DIAGNOSTIC ********************************************* -->
        <li class="nav-item">
          <a
            class="nav-link {% if 'diagnostic' in request.path %} menu_item_active {% endif %}"
            href="#"
            data-toggle="collapse"
            data-target="#collapseDIAG"
            aria-expanded="true"
            aria-controls="collapseDIAG"
            style="{% if 'diagnostic' in request.path %}color:#000;{% endif %}"
          >
            <i
              class="fa fa-stethoscope"
              style="{% if 'diagnostic' in request.path %}color:#000;{% endif %}"
            ></i>
            <span>Diagnostic</span>
          </a>
          <div
            id="collapseDIAG"
            class="collapse {% if 'diagnostic' in request.path %}_show_{% endif %}"
            aria-labelledby="headingDIAG"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner">
              <h6 class="collapse-header">Diagnostic & Planification</h6>
              <a class="collapse-item" href="{% url 'liste_diagnostic' %}">
                Diagnostic
              </a>
              <a class="collapse-item" href="#">Planification</a>
            </div>
          </div>
        </li>

        <hr class="sidebar-divider" />
        <!--       MENU BESOINS ********************************************* -->

        <li class="nav-item">
          <a
            class="nav-link {% if 'besoin' in request.path %}menu_item_active {% endif %}"
            href="#"
            data-toggle="collapse"
            data-target="#collapseBESOIN"
            aria-expanded="true"
            aria-controls="collapseTwo"
            style="{% if 'besoin' in request.path %}color:#000;{% endif %}"
          >
            <i
              class="fa fa-plus"
              style="{% if 'besoin' in request.path %}color:#000;{% endif %}"
            ></i>
            <span>BESOINS</span>
          </a>
          <div
            id="collapseBESOIN"
            class="collapse {% if 'besoin' in request.path %}show{% endif %}"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner">
              <h6 class="collapse-header">Estimation des Besoins:</h6>
              <a
                class="collapse-item {% if 'besoinprimaire' in request.path %}menu_item_active{% endif %}"
                href="#!"
                >Primaire</a
              >
              <a
                class="collapse-item {% if 'besoincollege' in request.path %}menu_item_active{% endif %}"
                href="#!"
                >Collège</a
              >
              <a
                class="collapse-item {% if 'besoinlycee' in request.path %}menu_item_active{% endif %}"
                href="#!"
                >Lycée</a
              >
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider mb-3" />

        <!--       MENU CARTOGRAPHIE SIG ********************************************* -->
        <div class="sidebar-heading">Cartographie</div>
        <li class="nav-item">
          <a
            class="nav-link {% if 'sig' in request.path %}menu_item_active {% endif %}"
            href="#!"
            data-toggle="collapse"
            data-target="#collapseSIG"
            aria-expanded="true"
            aria-controls="collapseTwo"
            style="{% if 'sig' in request.path %}color:#000;{% endif %}"
          >
            <i
              class="fa fa-map-marker"
              style="{% if 'sig' in request.path %}color:#000;{% endif %}"
            ></i>
            <span>Géolocalisation</span>
          </a>
          <div
            id="collapseSIG"
            class="collapse {% if 'besoin' in request.path %}show{% endif %}"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner">
              <h6 class="collapse-header">Cartographie</h6>
              <a class="collapse-item" href="{% url 'index_sig' %}"
                >Etablissements</a
              >
              <a
                class="collapse-item {% if 'sig' in request.path %}menu_item_active{% endif %}"
                href="#!"
                >Partenaires</a
              >
            </div>
          </div>
        </li>

        <!--       MENU CARTE THEMATIQUE ********************************************* -->
        <hr class="sidebar-divider mb-3" />
        <!--<div class="sidebar-heading">Carte Thématique</div>-->
        <li class="nav-item">
          <a
            class="nav-link {% if 'dataviz' in request.path %}menu_item_active {% endif %}"
            href="{% url 'index_dataviz' %}"
            style="{% if 'dataviz' in request.path %}color:#000; {% endif %}"
          >
            <i
              class="fas fa-fw fa-map"
              style="{% if 'dataviz' in request.path %}color:#000; {% endif %}"
            ></i
            ><span>Carte Thématique</span>
          </a>
        </li>

        <hr class="sidebar-divider mb-3" />
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul> <!-- // ul menu -->

      {% endif %}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <div class="row">{% block filtre %}{% endblock %}</div>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="searchDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - Alerts -->

              <!-- Nav Item - Messages -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="messagesDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-envelope fa-fw"></i>
                  <!-- Counter - Messages -->
                  <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="messagesDropdown"
                >
                  <h6 class="dropdown-header">Message Center</h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img
                        class="rounded-circle"
                        src="{% static 'img/undraw_profile_1.svg' %}"
                        alt="..."
                      />
                      <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate">Bonjour! .</div>
                      <div class="small text-gray-500">
                        {{ user.first_name }} {{ user.last_name }}
                      </div>
                    </div>
                  </a>

                  <a
                    class="dropdown-item text-center small text-gray-500"
                    href="#"
                    >Voir Messages</a
                  >
                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >{{ user.first_name }}</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="{% static 'img/undraw_profile.svg' %}"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'user_profil' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="#!"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Se déconnecter
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'index_create_user' %}">
                    <i
                      class="fa fa-solid fa-user-plus fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Ajout Utilisateur
                  </a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'login' %}">
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Se Connecter
                  </a>
                  {% endif %}
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid p-3 my-2" id="content-page">
            <div class="row">
              <div class="alert alert-warning d-block d-sm-none" id="mobileAlert" role="alert">
                  <strong>Recommandation :</strong> Pour une meilleure expérience, nous vous conseillons d'utiliser cette plateforme sur un ordinateur afin de profiter d'un affichage optimal et de tous les détails.
              </div>
            </div>
            {% block container_fluid %} {% endblock %}
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white" style="padding: 2px">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; MEN-DPE {% now "Y" %}</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Prêt à quitter ?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Sélectionnez « Se déconnecter » ci-dessous si vous êtes prêt à
            mettre fin à votre session en cours.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="{% url 'logout' %}"
              >Se déconnecter</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Modal dialog pour les messages box -->
    <div class="modal fade" id="app-dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="msgTitle" aria-hidden="true" style="display: none">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="msgTitle">Title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              x
            </button>
          </div>
          <div class="modal-body">
            <div class="alert" id="msgBody"></div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary quit-app-modal btn-sm"
              data-dismiss="modal"
            >
              Fermer
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- DataTables JS -->
<!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
    <!-- DataTables Buttons JS -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap4.min.js"></script>
    <!-- Dépendances pour l'export Excel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    
    <script src="{% static 'js/html2canvas.min.js' %}"></script>

    <script src="{% static 'vendor/sweetalert2/sweetalert2@11.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- waitme plugins -->
    <script src="{% static 'js/waitme/waitMe.min.js' %}"></script>
    <!-- select2 plugins -->
    <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
     <!-- noUiSlider plugins -->
    <script src="{% static 'vendor/noUiSlider/nouislider.min.js' %}"></script>
    <!-- lightbox -->
    <script src="{% static 'vendor/lb/js/lc_lightbox.lite.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/lb/lib/AlloyFinger/alloy_finger.min.js' %}" type="text/javascript"></script>

    <!-- tom select -->
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>

    <script src="{% static 'js/app.utils.js' %}"></script>
    <script>
      const USER_CISCO = parseInt("{{user.cisco }}");
      const USER_DREN = parseInt("{{user.dren }}");
      const USER_FNAME = "{{user.first_name}}".trim();
      const USER_LNAME = "{{user.last_name}}".trim();
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
